extends ../layout.pug

block title
  | Edit Article &laquo; #{article.title}

block content
  section
    h1 Edit Article
    p
      | Edit your article: #{''}
      span.title= article.title
    form.article
      input(type="text", name="title", placeholder="Title", value=article.title)
      p.error.title-err
      textarea(name="body", cols="30", rows="10", placeholder="Body")= article.body
      p.error.body-err
      input(type="submit", value="Edit")
    .preview
      h1.title= article.title
      article= article.body
