<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

  <section>
    <h1>Articles</h1>
    <p>Read, learn and increase the faith for Allah!</p>
    <ul class="articles"><% articles.forEach((article) => { %>
      <li class="article link">
      <a href="/articles/<%- article.slug %>">
          <div class="title"><%- article.title %></div>
          <div class="author"><%- article.author.name %></div>
          <div class="time"><%- article.createdAt.date %></div>
      </a>
      </li><% }); %>
    </ul>
  </section>

<%- include('../partials/footer.ejs') %>